<% 
  set_tab :"chan_#{@channel.id}"
  ws_port = APP_CONFIG['websocket_port']
%>
<script type="text/javascript">
var parts = document.location.host.split(':');
var port = parts.length > 1 ? (':'+parts[1]) : '<%= ws_port ? ":#{ws_port}" : '' %>';
WEB_SOCKET_PATH = 'ws://' + document.location.host.split(':')[0] + port + '/ws';
</script>
<div id="chanInfo">
	<span>Viewers: </span><span id="userCount">0</span>
</div>
<div id="chanTitle"><%= @channel.name %></div>
<div class="clear"></div>
<div id="chanBanner">
<%= @channel.banner %>
</div>
<div id="status">
</div>
<div id="videoTitle"></div>
<div id="videoContainer">
	<div id="overlaycanvas">
	</div>
	<div id="video">
	</div>
</div>
<div id="playlistContainer">
	<div id="playlist">
	</div>
	<div id="playlistEntry">
		<input id="playlistEntryBox" name="url" value="" type="text" tabindex="1" class="medium" size="50"/>
	</div>
</div>
<div class="clear"></div>
<div id="userToolbar">
</div>
<div id="chat">
<ul id="userList">
</ul>
<div id="chatInner">
<div id="messages">
</div>
<div id="messageEntry">
	<input id="messageEntryBox" name="message" value="" type="text" tabindex="1" class="medium" size="50"/>
</div>
</div>
</div>
<div id="chanFooter">
<%= @channel.footer %>
</div>
<div id="debug">
</div>
<script type="text/javascript">Tube.setChannel(<%= @channel.to_info.to_json %>);</script>